.card {
	width: 200px;
    border-style: outset;
    padding: 5px;
    background-color: brown;
    animation: showCard 1.2s linear;
    margin: 10px;
    z-index: 1;
    height: max-content;
    transition: all 1s ease;
    padding: 5px;
}

@keyframes showCard {
    0%{opacity:0.2;transform:rotate(0deg)scale(0.1)}
    25%{opacity:0.4;transform:rotate(90deg)scale(0.2)}
    50%{opacity:0.6;transform:rotate(180deg)scale(0.4)}
    75%{opacity:0.8;transform:rotate(270deg)scale(0.6)}
    100%{opacity:1;transform:rotate(360deg)scale(1)}
}

.card:hover {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 0 13px 9px black;
    background: #5656ee;
}


.card > img {
	width: 180px;
    height: 150px;
    background-color: transparent;
    display: block;
    margin: auto;
}

.wraper {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-content: center;
            align-content: center;
    margin: 10px 10px 0px 5px;
}

.wraper > p {
    color: black;
    font-weight: 700;
}

.inactiveInput {
    width: 60%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-style: italic;
    color: black;
}

.editableInput {
    width: 60%;
    color: black;
    font-size: 16px;
    border-style: solid;
    background: #fff;
    text-indent: 3px;
}
/* .card > p {
    margin-top: 10px;
    font-style: italic;
}

.card > p > span {
	font-weight: 600;
} */

.card button {
    display: block;
    width: 100%;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    color: black;
}